@page "/"
@inherits IndexBase
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<FetchData @bind-PageIndex="@PageIndex" forecasts="@forecasts">
    <CustomMessage>Hello World</CustomMessage>
</FetchData>

@* @if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table> 
}*@